body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#måne{
    display: none;
}

#Lebox{
    height: 70vh;
}

#box{
    height: 600px;
    aspect-ratio: 3/2;
}

p{
    position: absolute;
    left: 550px;
    bottom: 125px;
}

#autoC{
    translate: 0 -25px;
}

.LeImg{
    aspect-ratio: 3/2;
    height: 200px;
}

#Ledunk{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
}

#LedunkButton{
    position: sticky;
    top: 90%;
    z-index: 101;
    margin: 10px;
}