body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#måne{
    display: none;
}

#Lebox{
    height: 70vh;
}

#box{
    height: 600px;
    aspect-ratio: 3/2;
}

p{
    position: absolute;
    left: 550px;
    bottom: 125px;
}

#auto{
    translate: 0 -25px;
}

.LeImg{
    aspect-ratio: 3/2;
    height: 200px;
}